<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker - Reset Password</title>
    <link rel="stylesheet" href="/css/resetPassword.css" />
  </head>
  <body>
    <div class="container">
      <h1>Forgot Password?</h1>
      <p>You can reset your password here.</p>
      <form id="reset-password-form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <small
            >Please provide the email address associated with your
            account.</small
          >
        </div>
        <div class="form-group">
          <label for="new-password">New Password:</label>
          <input type="password" name="password" id="new-password" required />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm Password:</label>
          <input
            type="password"
            name="confirmPassword"
            id="confirm-password"
            required />
        </div>
        <button type="submit">Reset Password</button>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src="/js/resetPassword.js"></script>
  </body>
</html>
