body {
  font-family: "Arial", sans-serif;
  background-color: #8c8888;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust based on your design */
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #0f0f0f;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #303030;
  border-radius: 4px;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #eae5e5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #010145;
}

a {
  text-align: center;
  margin-top: 10px;
  display: block;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}
